In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("ks-projects-201801.csv", sep = ",")
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [12]:
# df = df.drop(columns=['Unnamed: 0', 'name', 'category', 'goal', 'pledged', 'usd pledged'])
df = df.drop(columns=['name', 'category', 'goal', 'pledged', 'usd pledged'])
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1000003930,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,1000004038,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,1000007540,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,1000011046,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

In [14]:
df.dtypes

ID                    int64
main_category        object
currency             object
deadline             object
launched             object
state                object
backers               int64
country              object
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [17]:
df['usd_goal_real'] = df['usd_goal_real'].astype(str)
df['usd_goal_real'] = df['usd_goal_real'].apply(lambda x: x.strip('USD '))

In [18]:
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1000003930,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.0
2,1000004038,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.0
3,1000007540,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.0
4,1000011046,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.0

In [20]:
df['launched'].replace('12:12', ' ')

0         2015-08-11 12:12:28
1         2017-09-02 04:43:57
2         2013-01-12 00:20:50
3         2012-03-17 03:24:11
4         2015-07-04 08:35:03
                 ...
378656    2014-09-17 02:35:30
378657    2011-06-22 03:35:14
378658    2010-07-01 19:40:30
378659    2016-01-13 18:13:53
378660    2011-07-19 09:07:47
Name: launched, Length: 378661, dtype: object

In [26]:
df['launched'] = df['launched'].replace(' \d\d:\d\d:\d\d', '', regex=True)
# \d é um digito , tira o horario do campo data

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\tuzzi\AppData\Local\Temp\ipykernel_10908\2529629587.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['launched'] = df['launched'].replace(' \d\d:\d\d:\d\d', '', regex=True)

In [27]:
df.head()

,ID,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,Publishing,GBP,2015-10-09,2015-08-11,failed,0,GB,0.0,1533.95
1,1000003930,Film & Video,USD,2017-11-01,2017-09-02,failed,15,US,2421.0,30000.0
2,1000004038,Film & Video,USD,2013-02-26,2013-01-12,failed,3,US,220.0,45000.0
3,1000007540,Music,USD,2012-04-16,2012-03-17,failed,1,US,1.0,5000.0
4,1000011046,Film & Video,USD,2015-08-29,2015-07-04,canceled,14,US,1283.0,19500.0

In [31]:
df['usd_goal_real'] = df['usd_goal_real'].astype('float').astype('int64')
# Muda Type da df['usd_goal_real']

In [33]:
df.dtypes

ID                    int64
main_category        object
currency             object
deadline             object
launched             object
state                object
backers               int64
country              object
usd_pledged_real    float64
usd_goal_real         int64
dtype: object

In [48]:
df['deadline'] = pd.to_datetime(df['deadline'], format='%Y-%m-%d')
df['launched'] = pd.to_datetime(df['launched'], format='%Y-%m-%d')

# Transforma em tipo data com Pandas

In [49]:
df.dtypes

ID                           int64
main_category               object
currency                    object
deadline            datetime64[ns]
launched            datetime64[ns]
state                       object
backers                      int64
country                     object
usd_pledged_real           float64
usd_goal_real                int64
dtype: object